<settings>
    <setting id="furniture.numericrating" type="bool">false</setting>
    <setting id="global.hidefanart" type="bool">false</setting>
    <setting id="hide.furniture.flags.vertical.widgets" type="bool">false</setting>
    <setting id="homemenu.clean.flix.no.slide" type="bool">false</setting>
    <setting id="debuginfo.extended" type="bool">false</setting>
    <setting id="hide.markers.isplaying" type="bool">false</setting>
    <setting id="home.nowplaying.info.auto.show" type="bool">false</setting>
    <setting id="furniture.clock" type="bool">false</setting>
    <setting id="dontuselandscapemovies" type="bool">true</setting>
    <setting id="home.vertical.widgets" type="bool">true</setting>
    <setting id="global.showvideo" type="bool">false</setting>
    <setting id="home.video.disc.fake.bluray" type="bool">false</setting>
    <setting id="startup.init" type="bool">true</setting>
    <setting id="use.new.jumpbar" type="bool">false</setting>
    <setting id="furniture.hide.musicrating" type="bool">false</setting>
    <setting id="debuginfo.extended.grid" type="bool">false</setting>
    <setting id="show.tagline.notempty" type="bool">false</setting>
    <setting id="cutlist.markers" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="furniture.flags.videocodec" type="bool">false</setting>
    <setting id="artistslideshow.animate" type="bool">false</setting>
    <setting id="furniture.flags.top250.enable.labels" type="bool">false</setting>
    <setting id="home.vertical" type="bool">true</setting>
    <setting id="504clearlogo" type="bool">false</setting>
    <setting id="musicvisualisation.hide.background" type="bool">false</setting>
    <setting id="home.dontshowfanart" type="bool">false</setting>
    <setting id="home.showweatherfanart" type="bool">false</setting>
    <setting id="musicvis.fanartfallback" type="bool">false</setting>
    <setting id="furniture.flags.top250" type="bool">false</setting>
    <setting id="furniture.animatedposters" type="bool">false</setting>
    <setting id="dontuselandscapetvshows" type="bool">true</setting>
    <setting id="furniture.header" type="bool">false</setting>
    <setting id="home.netflix.autoplay.trailer.custom.window.force" type="bool">false</setting>
    <setting id="disable.widgets.ondown.go.back.to.position.0" type="bool">false</setting>
    <setting id="osd.info.fullscreen" type="bool">false</setting>
    <setting id="hide.home.nowplaying.controls" type="bool">false</setting>
    <setting id="homemenu.slide" type="bool">false</setting>
    <setting id="rss.home" type="bool">false</setting>
    <setting id="furniture.flags.hdr" type="bool">false</setting>
    <setting id="furniture.flagicons" type="bool">true</setting>
    <setting id="disable.background.addons.fanart" type="bool">false</setting>
    <setting id="home.netflix.autoplay.trailer" type="bool">false</setting>
    <setting id="furniture.overlayinfo" type="bool">false</setting>
    <setting id="furniture.disable.default.icons.mpaa" type="bool">false</setting>
    <setting id="furniture.flags" type="bool">false</setting>
    <setting id="furniture.animatedfanarts" type="bool">false</setting>
    <setting id="home.dontautoshowwidget" type="bool">false</setting>
    <setting id="skinshortcuts-widget-systeminfo" type="bool">true</setting>
    <setting id="hideplaypauseinfo" type="bool">false</setting>
    <setting id="music.gotofullscreen" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="showclearlogomusicosd" type="bool">false</setting>
    <setting id="furniture.show.bpm" type="bool">false</setting>
    <setting id="home.showheader" type="bool">false</setting>
    <setting id="home.widgets.show.reflections" type="bool">true</setting>
    <setting id="debuginfogrid" type="bool">false</setting>
    <setting id="background.episodes.use.thumbnail" type="bool">false</setting>
    <setting id="tmdbhelper.uselocalwidgetcontainer" type="bool">false</setting>
    <setting id="home.classicwidgets" type="bool">false</setting>
    <setting id="home.showclearlogoleftbottomclassic" type="bool">false</setting>
    <setting id="hideactorimages" type="bool">false</setting>
    <setting id="furniture.markers.alternative" type="bool">true</setting>
    <setting id="showclearart510" type="bool">false</setting>
    <setting id="watchedbackingoff" type="bool">false</setting>
    <setting id="tmdbhelper.disableextendedproperties" type="bool">false</setting>
    <setting id="fanart.animate" type="bool">false</setting>
    <setting id="hide.markers.watched" type="bool">false</setting>
    <setting id="homemenu.netflix" type="bool">false</setting>
    <setting id="disable.only.hide.menu.items" type="bool">true</setting>
    <setting id="osd.hide.year" type="bool">false</setting>
    <setting id="musicosd.numericrating" type="bool">false</setting>
    <setting id="pvr.showtechnicalinfo" type="bool">false</setting>
    <setting id="homemenu.netflix.preview.fullscreen" type="bool">false</setting>
    <setting id="trailer.stop.on.dialogvideoinfo" type="bool">false</setting>
    <setting id="hide.markers.newcontent" type="bool">false</setting>
    <setting id="enable.forcedviews" type="bool">false</setting>
    <setting id="osd.music.disc.fake.cd" type="bool">false</setting>
    <setting id="hideplayrotate" type="bool">false</setting>
    <setting id="userrating.stars.override.rating.stars" type="bool">false</setting>
    <setting id="furniture.logo" type="bool">false</setting>
    <setting id="show.consensus" type="bool">false</setting>
    <setting id="global.hidecirles" type="bool">true</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="furniture.coloredicons" type="bool">true</setting>
    <setting id="osd.disableposter" type="bool">false</setting>
    <setting id="furniture.weather" type="bool">false</setting>
    <setting id="musicosd.showvideolyrics" type="bool">false</setting>
    <setting id="views.oldselector" type="bool">false</setting>
    <setting id="home.extended.nowplaying.tracklist" type="bool">false</setting>
    <setting id="furniture.flags.aspectratio" type="bool">false</setting>
    <setting id="no.homemenu.clear" type="bool">true</setting>
    <setting id="artistslideshow.disabled" type="bool">false</setting>
    <setting id="home.modernwidgets" type="bool">false</setting>
    <setting id="osd.coloredicons" type="bool">false</setting>
    <setting id="markers.inprogress.tvshow.label" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RandomTvShows" type="bool">true</setting>
    <setting id="skinshortcuts-widget-RecentMovies" type="bool">true</setting>
    <setting id="hide.markers" type="bool">false</setting>
    <setting id="hide.homemenu.netflix.preview" type="bool">false</setting>
    <setting id="osd.showinfoonpause" type="bool">false</setting>
    <setting id="home.show.label" type="bool">false</setting>
    <setting id="trailer.pause.on.dialogvideoinfo" type="bool">false</setting>
    <setting id="only.hide.if.widgetcontainer.gets.focus" type="bool">false</setting>
    <setting id="tmdbhelper.disableartwork" type="bool">false</setting>
    <setting id="show.studiologos" type="bool">false</setting>
    <setting id="showclearartmusicosd" type="bool">false</setting>
    <setting id="osdvisualisation.showfanart" type="bool">false</setting>
    <setting id="home.multiwidgets.hideclearart" type="bool">false</setting>
    <setting id="items.focus.zoom" type="bool">false</setting>
    <setting id="furniture.hide.fileextension" type="bool">false</setting>
    <setting id="furniture.overlayinfobalken" type="bool">false</setting>
    <setting id="disable.startup.window" type="bool">false</setting>
    <setting id="hide.markers.inprogress" type="bool">false</setting>
    <setting id="extended.nowplaying.hidecd" type="bool">false</setting>
    <setting id="home.hide.nowplaying" type="bool">false</setting>
    <setting id="showclearartosd" type="bool">false</setting>
    <setting id="hide.mouse.warning" type="bool">false</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">true</setting>
    <setting id="extended.info.only.local" type="bool">false</setting>
    <setting id="global.showvisualisation" type="bool">false</setting>
    <setting id="global.kioskmode" type="bool">false</setting>
    <setting id="furniture.nowplaying" type="bool">false</setting>
    <setting id="furniture.flags.audiochannels" type="bool">false</setting>
    <setting id="furniture.flags.mpaa" type="bool">false</setting>
    <setting id="extended.nowplaying" type="bool">true</setting>
    <setting id="extended.nowplaying.clearart" type="bool">false</setting>
    <setting id="hide.busydialog" type="bool">false</setting>
    <setting id="enable.widgets.onup.go.back.to.last.widget" type="bool">false</setting>
    <setting id="use.imdb.trailer" type="bool">false</setting>
    <setting id="extended.info.override.play" type="bool">false</setting>
    <setting id="disable.widgets.onup.go.back.to.last.item" type="bool">false</setting>
    <setting id="hide.recording.info" type="bool">false</setting>
    <setting id="furniture.flags.nextaired" type="bool">false</setting>
    <setting id="newtime" type="bool">true</setting>
    <setting id="furniture.showimdb" type="bool">false</setting>
    <setting id="hidefilenameandpath" type="bool">false</setting>
    <setting id="submenu.compatibility" type="bool">false</setting>
    <setting id="home.extended.nowplaying.scrolling.text" type="bool">false</setting>
    <setting id="homemenu.items.underlined" type="bool">true</setting>
    <setting id="clockosd" type="bool">false</setting>
    <setting id="homemenu.clean.flix" type="bool">false</setting>
    <setting id="furniture.weatherleft" type="bool">false</setting>
    <setting id="furniture.hide.bitrate" type="bool">false</setting>
    <setting id="playtrailerwindowed" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="enableextrafanart" type="bool">false</setting>
    <setting id="furniture.flags.rating" type="bool">false</setting>
    <setting id="items.focus.glow.low" type="bool">false</setting>
    <setting id="furniture.showsubtitles" type="bool">false</setting>
    <setting id="enableeffects" type="bool">false</setting>
    <setting id="addon.upnext.use.thumbnail" type="bool">false</setting>
    <setting id="settings.show.logo" type="bool">false</setting>
    <setting id="home.hide.netflix.plot" type="bool">false</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">true</setting>
    <setting id="skin_enableanimatedposters" type="bool">true</setting>
    <setting id="labels.autoscroll" type="bool">false</setting>
    <setting id="showclearart511" type="bool">false</setting>
    <setting id="tmdbhelper.disablepersonstats" type="bool">false</setting>
    <setting id="thumbnails.moreinfos" type="bool">false</setting>
    <setting id="home.onback.go.to.first.widget" type="bool">false</setting>
    <setting id="extended.nowplaying.videowindow" type="bool">false</setting>
    <setting id="furniture.flags.bluray" type="bool">false</setting>
    <setting id="hide.views.netflix.preview" type="bool">false</setting>
    <setting id="videoosd.numericrating" type="bool">false</setting>
    <setting id="furniture.flagiconsosd" type="bool">false</setting>
    <setting id="rss.top" type="bool">false</setting>
    <setting id="blurenabled" type="bool">false</setting>
    <setting id="tmdbhelper.service" type="bool">true</setting>
    <setting id="global.moreshadows" type="bool">false</setting>
    <setting id="furniture.showuserrating.audio" type="bool">false</setting>
    <setting id="furniture.flags.resolution" type="bool">false</setting>
    <setting id="home.video.disc.fallback.bluray" type="bool">false</setting>
    <setting id="showclearlogomusicnowplaying" type="bool">false</setting>
    <setting id="show.tagline.never" type="bool">false</setting>
    <setting id="items.focus.glow" type="bool">false</setting>
    <setting id="dontuselandscapeseasons" type="bool">true</setting>
    <setting id="furniture.flagiconsosdnoicons" type="bool">false</setting>
    <setting id="home.showicons" type="bool">false</setting>
    <setting id="509clearlogo" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">false</setting>
    <setting id="home.netflix.autoplay.trailer.custom.window" type="bool">false</setting>
    <setting id="skin_enablepvrartwork" type="bool">false</setting>
    <setting id="showclearartmusicnowplaying" type="bool">false</setting>
    <setting id="furniture.show.audiotracks" type="bool">false</setting>
    <setting id="background.video.fix.audio.errors" type="bool">false</setting>
    <setting id="hideseekbaronlyrics" type="bool">false</setting>
    <setting id="furniture.topweather" type="bool">false</setting>
    <setting id="furniture.flags.audiocodec" type="bool">false</setting>
    <setting id="osd.usethemenewosdside" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">true</setting>
    <setting id="osd.alwaysshowmusicosd" type="bool">false</setting>
    <setting id="discartfanart" type="bool">false</setting>
    <setting id="homemenu.only.icons" type="bool">false</setting>
    <setting id="home.submenu2" type="bool">true</setting>
    <setting id="hub.showplot" type="bool">false</setting>
    <setting id="osd.showplot" type="bool">false</setting>
    <setting id="osd.music.disc.fallback.vinyl" type="bool">false</setting>
    <setting id="osd.usethemenewosd" type="bool">false</setting>
    <setting id="global.use.keyart" type="bool">false</setting>
    <setting id="widgets.fade" type="bool">false</setting>
    <setting id="markers.inprogress.percentage" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="episodes.show.unwatched" type="bool">false</setting>
    <setting id="enable.morewidget" type="bool">false</setting>
    <setting id="furniture.showuserrating" type="bool">false</setting>
    <setting id="hide.markers.unwatched" type="bool">false</setting>
    <setting id="chapter.markers" type="bool">false</setting>
    <setting id="daynight.autocolor" type="bool">false</setting>
    <setting id="homemenu.vertical.noslide" type="bool">false</setting>
    <setting id="discartosd" type="bool">false</setting>
    <setting id="widget.items.onback.go.back.to.position.0" type="bool">false</setting>
    <setting id="tmdbhelper.forcewidgetcontainer" type="bool">false</setting>
    <setting id="furniture.showtomatoesandmetacritics" type="bool">false</setting>
    <setting id="enableeffectssettings" type="bool">false</setting>
    <setting id="items.focus.glow.full" type="bool">false</setting>
    <setting id="furniture.show.samplerate" type="bool">false</setting>
    <setting id="511ListInfo" type="bool">true</setting>
    <setting id="weather.icons.override" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">false</setting>
    <setting id="widget.items.onback.go.back.to.position.0.setfocus.home" type="bool">false</setting>
    <setting id="home.oldmenuheight" type="bool">false</setting>
    <setting id="trailer.dont.stop.on.unfocus" type="bool">false</setting>
    <setting id="bluronhome" type="bool">false</setting>
    <setting id="osd.disable.icon.background.pvr" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="tmdbhelper.disablepvr" type="bool">false</setting>
    <setting id="homemenu.hide.lines" type="bool">false</setting>
    <setting id="thumbnails.white" type="bool">false</setting>
    <setting id="widgets.autoscrollingplot" type="bool">false</setting>
    <setting id="moderncase" type="bool">false</setting>
    <setting id="notshowclearart514" type="bool">false</setting>
    <setting id="hidewidgettitle" type="bool">false</setting>
    <setting id="home.netflix.clearlogo" type="bool">false</setting>
    <setting id="show.clearart" type="bool">false</setting>
    <setting id="osd.usethemenewosdmusic" type="bool">false</setting>
    <setting id="userrating.override.rating" type="bool">false</setting>
    <setting id="debuginfo.systeminfo" type="bool">false</setting>
    <setting id="disable.widgets.onback.go.back.to.position.0" type="bool">false</setting>
    <setting id="show.reflections" type="bool">true</setting>
    <setting id="fanart.fallback.music" type="string"></setting>
    <setting id="home.fallbackwidget" type="string"></setting>
    <setting id="ratingfallback" type="string"></setting>
    <setting id="TMDbHelper.MonitorContainer" type="string"></setting>
    <setting id="selectbarcolor.name" type="string"></setting>
    <setting id="colorbox_comp" type="string">main:hls*0.75;0;0@fhls*-;0.45;0.9</setting>
    <setting id="Widget.1113.Label" type="string"></setting>
    <setting id="Widget.1117.Label" type="string"></setting>
    <setting id="home.slideshowpath" type="string"></setting>
    <setting id="osd_timeout" type="string"></setting>
    <setting id="indicatorcolorbackgroundlabel.name" type="string"></setting>
    <setting id="userratingcolor.name" type="string"></setting>
    <setting id="indicatorcolorbackgroundwatched.name" type="string"></setting>
    <setting id="Widget.1119.Label" type="string"></setting>
    <setting id="colorbox_bitsize" type="string">1</setting>
    <setting id="colorpresent" type="string">2</setting>
    <setting id="weather.icons.path" type="string"></setting>
    <setting id="focuscolor.name" type="string"></setting>
    <setting id="studio.logos.name" type="string"></setting>
    <setting id="Widget.1118.Label" type="string"></setting>
    <setting id="selectotherbarcolor.name" type="string"></setting>
    <setting id="Widget.1113.Content" type="string"></setting>
    <setting id="BlurContainer" type="string"></setting>
    <setting id="Widget.1114.Label" type="string"></setting>
    <setting id="Widget.1117.Content" type="string"></setting>
    <setting id="fadetime" type="string"></setting>
    <setting id="colorbox_blursize" type="string">30</setting>
    <setting id="genre.icons.ext" type="string"></setting>
    <setting id="colorbox_quality" type="string">4</setting>
    <setting id="startupfanart.fallback" type="string"></setting>
    <setting id="ratingcolor.name" type="string"></setting>
    <setting id="weather.fanart" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">RecentMovies</setting>
    <setting id="Widget.1116.Label" type="string"></setting>
    <setting id="fadenetflixpreview" type="string">60</setting>
    <setting id="genre.icons.name" type="string"></setting>
    <setting id="colorbox_black" type="string">000000</setting>
    <setting id="wikipedia.format.link" type="string"></setting>
    <setting id="colorbox_effect" type="string">blur</setting>
    <setting id="skinshortcuts-widget-3" type="string">systeminfo</setting>
    <setting id="fanart.fallback" type="string"></setting>
    <setting id="trailercount" type="string"></setting>
    <setting id="kodilogocolorgradient.name" type="string">ff00b36c</setting>
    <setting id="Widget.1112.Content" type="string"></setting>
    <setting id="weather.fanart.name" type="string"></setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="indicatorcolorbackgroundnew.name" type="string"></setting>
    <setting id="indicatorcolorbackgroundinprogress.name" type="string"></setting>
    <setting id="color.preset.name.own" type="string"></setting>
    <setting id="Widget.1116.Content" type="string"></setting>
    <setting id="starscolornew.name" type="string"></setting>
    <setting id="colorbox_white" type="string">ffffff</setting>
    <setting id="Widget.1111.Content" type="string"></setting>
    <setting id="studio.logos.path" type="string"></setting>
    <setting id="colorbox_pixelsize" type="string">15</setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="squarecolor2.name" type="string">ff00b36c</setting>
    <setting id="WidgetLimit" type="string">25</setting>
    <setting id="recordlabel.logos.name" type="string"></setting>
    <setting id="Widget.1114.Content" type="string"></setting>
    <setting id="indicatorcolorbackgroundisplayingicon.name" type="string"></setting>
    <setting id="backgroundbrightness" type="string"></setting>
    <setting id="BlurSaturation" type="string"></setting>
    <setting id="BlurRadius" type="string"></setting>
    <setting id="backgroundbrightnessblur" type="string"></setting>
    <setting id="HubLimit" type="string">25</setting>
    <setting id="Widget.1115.Content" type="string"></setting>
    <setting id="intropath" type="string"></setting>
    <setting id="Widget.1111.Label" type="string"></setting>
    <setting id="Widget.1118.Content" type="string"></setting>
    <setting id="kodilogocolor.name" type="string">ff0385B5</setting>
    <setting id="colorbox_main" type="string">main:fhls*-;0.45;0.9</setting>
    <setting id="Widget.1119.Content" type="string"></setting>
    <setting id="weather.fanart.path" type="string"></setting>
    <setting id="osd_info" type="string"></setting>
    <setting id="Widget.1112.Label" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">RandomTvShows</setting>
    <setting id="game.logos.name" type="string"></setting>
    <setting id="genre.music.ext" type="string"></setting>
    <setting id="netflixtrailerdelay" type="string"></setting>
    <setting id="squarecolor.name" type="string"></setting>
    <setting id="widgetspotlightpath" type="string"></setting>
    <setting id="genre.music.path" type="string"></setting>
    <setting id="ap_source" type="string"></setting>
    <setting id="startupplaylist" type="string"></setting>
    <setting id="indicatorcolorbackgroundisplaying.name" type="string"></setting>
    <setting id="Widget.1115.Label" type="string"></setting>
    <setting id="genre.icons.path" type="string"></setting>
    <setting id="focuscolor2.name" type="string"></setting>
    <setting id="widgettarget" type="string"></setting>
    <setting id="focuscolorotherbar.name" type="string">ff00b36c</setting>
    <setting id="colorpalette" type="string">rainbow</setting>
    <setting id="TMDbHelper.Blur.Size" type="string"></setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="ServiceInterval" type="string"></setting>
    <setting id="BackgroundInterval" type="string"></setting>
</settings>
